#title {
  font-size: 85px;
  font-family: 'Monoton', cursive;
}

h3 {
  font-size: 40px;
  font-style: italic;
}

.list-group-item:nth-child(odd) {
  background-color: #f4f2f0;
}

.list-group-item:nth-child(even) {
  background-color: #f0f5f5;
}

.jumbotron {
  background-image: url("../assets/tape_machine.jpg");
  opacity: 0.7;
}

.list-group-item {
  border: none;
  margin-bottom: 4px;
}

.notes {
  color: #737373;
}

.questionBox {
  padding-bottom: 40px;
}

.buttonBox {
  padding-bottom: 40px;
}

.deleteQ {
  padding: 2px 4px;
  margin-left: 98%;
  margin-bottom: 5px;
}
