<div class="jumbotron">
<h1 id="title" class="text-center">{{#link-to 'index'}}AUX{{/link-to}}</h1>
</div>

<div class="container">
{{outlet}}
</div>

<ul class="nav nav-pills navbar-fixed-bottom">
  <!-- <div class="container"> -->
<li role="presentation">{{#link-to 'index'}}Home > {{/link-to}}</li>
<li role="presentation">{{#link-to 'about'}}About{{/link-to}}</li>

<!-- </div> -->
</ul>
